{% extends "base.html" %}
{% load static %}
{% block extrameta %}
  <meta name="description"
        content="In this webinar, we will delve into the fundamentals of Wagtail, exploring its key features, functionalities, and advantages for developers and content creators alike.">
  <meta name="author" content="Victor Miti">
  <meta property="og:title" content="{{ page_title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:description"
        content="In this webinar, we will delve into the fundamentals of Wagtail, exploring its key features, functionalities, and advantages for developers and content creators alike.">
  <meta property="og:site_name" content="webinar">
  <meta property="og:url" content="{{ request.build_absolute_uri }}" />
  <meta property="og:image"
        content="{{ request.build_absolute_uri|slice:':-1' }}{% static 'img/banner.png' %}" />
  <meta property="og:locale" content="en_ZM" />
  <meta property="og:locale:alternate" content="en_ZA" />
  <meta property="og:locale:alternate" content="en_GB" />
  <meta property="og:locale:alternate" content="en_US" />
{% endblock extrameta %}
{% block extra_css %}
{% endblock extra_css %}
{% block body_class %}
{% endblock body_class %}
{% block header_class %}
{% endblock header_class %}
{% block promo_block %}
  {# djlint:off H021 #}
  {# image credits: https://unsplash.com/photos/green-bokeh-lights-FewHpO4VC9Y #}
  <div class="hero place-items-start min-h-80"
       style="background-image: url({% static 'img/hero-lg.jpg' %})">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content lg:pl-10 text-neutral-content">
      <div>
        <div class="badge badge-accent uppercase">Webinar</div>
        <h1 class="mb-5 text-5xl font-bold">Introduction to Wagtail</h1>
        <div class="card w-80 bg-sky-500/20 text-neutral-content sm:mt-10">
          <div class="card-body">
            <div>
              <strong>Date</strong>: Thursday, May 30<sup>th</sup>, 2024
            </div>
            <div>
              <strong>Time</strong>: 6PM
              <a class="link tooltip tooltip-bottom"
                 href="https://time.is/CAT"
                 data-tip="Central African Time">CAT</a>
            </div>
          </div>
        </div>
        <button class="mt-5 btn btn-accent sm:hidden">
          Register
          {# https://heroicons.com/ #}
          <svg xmlns="http://www.w3.org/2000/svg"
               fill="none"
               viewBox="0 0 24 24"
               stroke-width="1.5"
               stroke="currentColor"
               class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 5.25 7.5 7.5 7.5-7.5m-15 6 7.5 7.5 7.5-7.5" />
          </svg>
        </button>
      </div>
    </div>
  </div>
  {# djlint:on #}
{% endblock promo_block %}
{% block content %}
  <main>
    <div>
      <div>
        <div>
          <p>Let's get to work ⚒️</p>
        </div>
      </div>
    </div>
  </main>
{% endblock content %}
