{% extends "base.html" %}
{% load static %}
{% block extrameta %}
  <meta name="description" content="A django powered project.">
  <meta name="author" content="Victor Miti">
  <meta property="og:title" content="{{ page_title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="A django powered project.">
  <meta property="og:site_name" content="webinar">
  <meta property="og:url" content="{{ request.build_absolute_uri }}" />
  <meta property="og:image" content="https://picsum.photos/480/270" />
  <meta property="og:locale" content="en_ZM" />
  <meta property="og:locale:alternate" content="en_ZA" />
  <meta property="og:locale:alternate" content="en_GB" />
  <meta property="og:locale:alternate" content="en_US" />
{% endblock extrameta %}
{% block extra_css %}
{% endblock extra_css %}
{% block body_class %}
  template--home
{% endblock body_class %}
{% block header_class %}
  hero--home bg-dark text-light
{% endblock header_class %}
{% block promo_block %}
  <div class="container h-75">
    <div class="d-flex h-75 text-center align-items-center">
      <div class="w-100">
        <h1 class="display-3">Welcome to webinar Homepage</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>
{% endblock promo_block %}
{% block content %}
  <main>
    <div class="container py-4">
      <div class="d-flex card text-center align-items-center">
        <div class="card-body">
          <p class="lead">Let's get to work ⚒️</p>
        </div>
      </div>
    </div>
  </main>
{% endblock content %}
