{% extends "base.html" %}
{% load static widget_tweaks humanize %}
{% block extrameta %}
  <meta name="description"
        content="In this webinar, we will delve into the fundamentals of Wagtail, exploring its key features, functionalities, and advantages for developers and content creators alike.">
  <meta name="author" content="Victor Miti">
  <meta property="og:title" content="{{ page_title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:description"
        content="In this webinar, we will delve into the fundamentals of Wagtail, exploring its key features, functionalities, and advantages for developers and content creators alike.">
  <meta property="og:site_name" content="webinar">
  <meta property="og:url" content="{{ request.build_absolute_uri }}" />
  <meta property="og:image"
        content="{{ request.build_absolute_uri|slice:':-1' }}{% static 'img/banner.png' %}" />
  <meta property="og:locale" content="en_ZM" />
  <meta property="og:locale:alternate" content="en_ZA" />
  <meta property="og:locale:alternate" content="en_GB" />
  <meta property="og:locale:alternate" content="en_US" />
{% endblock extrameta %}
{% block promo_block %}
  {# djlint:off H021 #}
  {# image credits: https://unsplash.com/photos/green-bokeh-lights-FewHpO4VC9Y #}
  <div class="hero place-items-start {% if messages %}min-h-[78vh] md:min-h-[93vh]{% else %}min-h-80{% endif %}"
       style="background-image: url({% static 'img/hero-lg.jpg' %})">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content lg:pl-10 text-neutral-content">
      <div>
        <div class="badge badge-accent uppercase">Webinar</div>
        <h1 class="mb-5 text-5xl font-bold">Introduction to Wagtail</h1>
        <div class="card bg-sky-500/20 text-neutral-content sm:mt-10">
          <div class="card-body text-lg">
            <div>
              <strong>Date</strong>: Thursday, May 30<sup>th</sup>, 2024
            </div>
            <div>
              <strong>Time</strong>: 6PM
              <a class="link tooltip tooltip-bottom"
                 href="https://time.is/CAT"
                 target="_blank"
                 data-tip="Central African Time">CAT</a>
            </div>
          </div>
        </div>
        {% if messages %}
          {% if webinar %}
            <button type="button" class="btn btn-accent mt-10" id="add-to-calendar">
              <svg xmlns="http://www.w3.org/2000/svg"
                   fill="none"
                   viewBox="0 0 24 24"
                   stroke-width="1.5"
                   stroke="currentColor"
                   class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
              </svg>
              Add to calendar
            </button>
          {% endif %}
        {% else %}
          <a href="#register"
             class="mt-5 btn btn-accent sm:hidden"
             data-register-btn>
            Register
            {# https://heroicons.com/ #}
            <svg xmlns="http://www.w3.org/2000/svg"
                 fill="none"
                 viewBox="0 0 24 24"
                 stroke-width="1.5"
                 stroke="currentColor"
                 class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 5.25 7.5 7.5 7.5-7.5m-15 6 7.5 7.5 7.5-7.5" />
            </svg>
          </a>
        {% endif %}
      </div>
    </div>
  </div>
  {# djlint:on #}
{% endblock promo_block %}
{% block content %}
  {% if messages %}
    {# do nothing #}
  {% else %}
    <main>
      <div class="p-10 text-justify">
        {# djlint:off #}
      <p class="text-xl">
        <a class="link link-accent" href="https://wagtail.org/" target="_blank">Wagtail</a> is a leading open-source <a class="link link-accent" href="https://www.python.org/" target="_blank">Python</a> Content Management System (<a class="link link-accent" href="https://en.wikipedia.org/wiki/Content_management_system" target="_blank">CMS</a>) trusted by organizations such as Google, NASA, Mozilla, MIT, and Oxfam, among many others. Renowned for its flexibility, user-friendliness, and robust features, Wagtail builds on top of <a class="link link-accent" href="https://www.djangoproject.com/" target="_blank">Django</a> — a high-level Python web framework that encourages rapid development and clean, pragmatic design.
      </p>
      <p class="text-lg pt-5">
        In this webinar, we will delve into the fundamentals of Wagtail, exploring its
        key features, functionalities, and advantages for developers and content
        creators alike.
      </p>
      <p class="text-lg pt-5">
        Join <a class="link link-accent" href="https://blog.victor.co.zm/" target="_blank">Victor</a> <strong>{{ webinar.datetime|naturaltime }}</strong> to learn more about how you can
        leverage Wagtail to manage your digital content and associated workflows. You
        don't need to be a developer or to know Python or Django — everybody is welcome!
      </p>
      <p class="text-lg pt-5">
        Don't miss out — reserve your spot today!
      </p>
        {# djlint:on #}
      </div>
      <form id="register" class="px-10" method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
          <div role="alert" class="alert alert-warning mb-5">
            <svg xmlns="http://www.w3.org/2000/svg"
                 class="stroke-current shrink-0 h-6 w-6"
                 fill="none"
                 viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
            </svg>
            <div>{{ form.non_field_errors }}</div>
          </div>
        {% endif %}
        <div class="grid md:grid-cols-2 md:items-end gap-4">
          <div>
            {% if form.name.errors %}<div class="text-error pb-2">{{ form.name.errors }}</div>{% endif %}
            <label for="{{ form.name.id_for_label }}"
                   class="input input-bordered {% if form.name.errors %}input-error{% else %}input-accent{% endif %} flex items-center gap-2">
              <svg xmlns="http://www.w3.org/2000/svg"
                   viewBox="0 0 16 16"
                   fill="currentColor"
                   class="w-4 h-4 opacity-70">
                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" />
              </svg>
              {% render_field form.name|add_class:"grow"|attr:"placeholder:Name" %}
            </label>
          </div>
          <div>
            {% if form.email.errors %}<div class="text-error pb-2">{{ form.email.errors }}</div>{% endif %}
            <label for="{{ form.email.id_for_label }}"
                   class="input input-bordered {% if form.email.errors %}input-error{% else %}input-accent{% endif %} flex items-center gap-2">
              <svg xmlns="http://www.w3.org/2000/svg"
                   viewBox="0 0 16 16"
                   fill="currentColor"
                   class="w-4 h-4 opacity-70">
                <path d="M2.5 3A1.5 1.5 0 0 0 1 4.5v.793c.026.009.051.02.076.032L7.674 8.51c.206.1.446.1.652 0l6.598-3.185A.755.755 0 0 1 15 5.293V4.5A1.5 1.5 0 0 0 13.5 3h-11Z" />
                <path d="M15 6.954 8.978 9.86a2.25 2.25 0 0 1-1.956 0L1 6.954V11.5A1.5 1.5 0 0 0 2.5 13h11a1.5 1.5 0 0 0 1.5-1.5V6.954Z" />
              </svg>
              {% render_field form.email|add_class:"grow"|attr:"placeholder:Email" %}
            </label>
          </div>
          <div>
            {% if form.company.errors %}<div class="text-error pb-2">{{ form.company.errors }}</div>{% endif %}
            <label for="{{ form.company.id_for_label }}"
                   class="input input-bordered {% if form.company.errors %}input-error{% else %}input-accent{% endif %} flex items-center gap-2">
              <svg xmlns="http://www.w3.org/2000/svg"
                   viewBox="0 0 16 16"
                   fill="currentColor"
                   class="w-4 h-4 opacity-70">
                <path fill-rule="evenodd" d="M3.75 2a.75.75 0 0 0 0 1.5H4v9h-.25a.75.75 0 0 0 0 1.5H6a.5.5 0 0 0 .5-.5v-3A.5.5 0 0 1 7 10h2a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h2.25a.75.75 0 0 0 0-1.5H12v-9h.25a.75.75 0 0 0 0-1.5h-8.5ZM6.5 4a.5.5 0 0 0-.5.5V5a.5.5 0 0 0 .5.5H7a.5.5 0 0 0 .5-.5v-.5A.5.5 0 0 0 7 4h-.5ZM6 7a.5.5 0 0 1 .5-.5H7a.5.5 0 0 1 .5.5v.5A.5.5 0 0 1 7 8h-.5a.5.5 0 0 1-.5-.5V7Zm3-3a.5.5 0 0 0-.5.5V5a.5.5 0 0 0 .5.5h.5A.5.5 0 0 0 10 5v-.5a.5.5 0 0 0-.5-.5H9Zm-.5 3a.5.5 0 0 1 .5-.5h.5a.5.5 0 0 1 .5.5v.5a.5.5 0 0 1-.5.5H9a.5.5 0 0 1-.5-.5V7Z" clip-rule="evenodd" />
              </svg>
              {% render_field form.company|add_class:"grow"|attr:"placeholder:Company (optional)" %}
            </label>
          </div>
          <div>
            {% if form.role.errors %}<div class="text-error pb-2">{{ form.role.errors }}</div>{% endif %}
            <label for="{{ form.role.id_for_label }}"
                   class="input input-bordered {% if form.role.errors %}input-error{% else %}input-accent{% endif %} flex items-center gap-2">
              <svg xmlns="http://www.w3.org/2000/svg"
                   viewBox="0 0 16 16"
                   fill="currentColor"
                   class="w-4 h-4 opacity-70">
                <path d="M13.488 2.513a1.75 1.75 0 0 0-2.475 0L6.75 6.774a2.75 2.75 0 0 0-.596.892l-.848 2.047a.75.75 0 0 0 .98.98l2.047-.848a2.75 2.75 0 0 0 .892-.596l4.261-4.262a1.75 1.75 0 0 0 0-2.474Z" />
                <path d="M4.75 3.5c-.69 0-1.25.56-1.25 1.25v6.5c0 .69.56 1.25 1.25 1.25h6.5c.69 0 1.25-.56 1.25-1.25V9A.75.75 0 0 1 14 9v2.25A2.75 2.75 0 0 1 11.25 14h-6.5A2.75 2.75 0 0 1 2 11.25v-6.5A2.75 2.75 0 0 1 4.75 2H7a.75.75 0 0 1 0 1.5H4.75Z" />
              </svg>
              {% render_field form.role|add_class:"grow"|attr:"placeholder:Role (optional)" %}
            </label>
          </div>
        </div>
        <div class="flex flex-col md:flex-row md:justify-between md:items-start gap-4 py-4 md:py-10">
          <label for="{{ form.hcaptcha.id_for_label }}">
            {% if form.hcaptcha.errors %}<div class="text-error pb-2">{{ form.hcaptcha.errors }}</div>{% endif %}
            {% render_field form.hcaptcha aria-label=form.hcaptcha.label %}
          </label>
          <button type="submit" class="btn btn-accent">Register</button>
        </div>
      </form>
    </main>
  {% endif %}
{% endblock content %}
{% block extra_js %}
  {% if messages and webinar %}
    {{ webinar.atcb_config|json_script:"atcbConfig" }}
    <script type="text/javascript" src="{% static 'js/atcb.min.js' %}"></script>
    <script type="text/javascript">
      const atcbConfig = JSON.parse(document.getElementById('atcbConfig').textContent);
      const button = document.querySelector('#add-to-calendar');
      button.addEventListener('click', () => atcb_action(atcbConfig, button));
    </script>
  {% endif %}
{% endblock extra_js %}
